<div class="container">
  <div class="jumbotron">
    <a href="#" class="back">
      <i class="fa fa-long-arrow-left"></i> Back
    </a>
    <h2>
      <a href="{{ user.html_url }}">
        <img id="user-avatar" src="{{ user.avatar_url }}" alt="{{ user.login }}'s avatar image" />
        {{ user.login }}</a>'s Project Status Board

      <small>{{ repo_count }} repositories</small>
    </h2>

    <hr>

    <div class="clearfix"></div>
  </div>
</div>
<footer>
  {{> footer}}
</footer>
