<section class="panel panel-default pull-left">
  <h3>
    {{#if icon}}
      <img src="{{ icon }}" />
    {{else}}
      <i class="fa fa-github"></i>
    {{/if}}
    <a href="{{ html_url }}">{{ name }}</a>
    {{#if fork}}
      <i class="fa fa-code-fork text-muted" title="This repository is a fork"></i>
    {{/if}}
  </h3>

  <table class="table table-bordered text-center text-muted">
    <tr>
      <td>
        <big>
          <a href="{{ html_url }}/stargazers" title="This project has been starred by {{ stargazers_count }} {{plural 'user' stargazers_count}}">
            <i class="fa fa-star"> </i>{{ stargazers_count }}
          </a>
        </big>
      </td>
      {{#if has_issues}}
        <td>
          <big>
            <a href="{{ html_url }}/issues" title="This project has {{ open_issues_count }} open {{plural 'issue' open_issues_count}}">
              <i class="fa fa-bug"></i>{{ open_issues_count }}
            </a>
          </big>
        </td>
      {{/if}}
      <td>
        <big>
          <a href="{{ html_url }}/network" title="This project has been forked {{ forks }} {{plural 'time' forks}}">
            <i class="fa fa-code-fork"></i>{{ forks }}
          </a>
        </big>
      </td>
    </tr>
  </table>

  <div class="row-fluid">
    <a href="https://badge.fury.io/gh/{{ owner.login }}%2F{{ name }}">
      <img src="https://badge.fury.io/gh/{{ owner.login }}%2F{{ name }}.svg" alt="Git version" />
    </a>
  </div>

  <div class="row-fluid">
    <a href="https://travis-ci.org/{{ owner.login }}/{{ name }}">
      <img src="https://secure.travis-ci.org/{{ owner.login }}/{{ name }}.png?branch=master" alt="Build status" />
    </a>
  </div>

  <div class="row-fluid">
    <a href="https://david-dm.org/{{ owner.login }}/{{ name }}">
      <img src="https://david-dm.org/{{ owner.login }}/{{ name }}.svg" alt="Dependency status" />
    </a>
  </div>

  <div class="row-fluid">
    <a href="https://david-dm.org/{{ owner.login }}/{{ name }}#info=devDependencies">
      <img src="https://david-dm.org/{{ owner.login }}/{{ name }}/dev-status.svg" alt="Dependency status" />
    </a>
  </div>

  <div class="row-fluid footer">
    <em class="text-muted">Last updated {{moment updated_at}}</em>
  </div>
</section>
